{
  "parser": "typescript-eslint-parser",
  "extends": ["eslint-config-prettier"],
  "plugins": [
    "typescript",
    "import",
    "prettier",
    "node",
    "vue"
  ],
  "rules": {
    "eqeqeq": [
      "error",
      "always",
      {
        "null": "ignore"
      }
    ]
  }
}
